* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #9e9899;
    overflow: hidden;
}

.box {
    height: 100px;
    margin: 300px auto;
    background-color: #d6d4d6;
}

.container {
    width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 40px 50px;
}

.vertical-line {
    position: absolute;
    background-color: #d6d4d6;
    height: 50px;
    right: 20px;
    top: 28px;
    /* opacity: 0.5; */
    width: 100%;
    border-left: 3px solid #000;
    transition: 1.5s;
}

.box:hover .vertical-line {
    width: 0;
}